body{
  text-align: center;
  background-color: rgb(2, 2, 77);
}

.title{
  margin:auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title_str{
  padding: 0px;
  margin-bottom: 0px;
  font-family: Gidugu;
  font-size: 200px;
  color: aliceblue;
}

.points{
  margin-top: 0px;
  font-family: Geneva, Tahoma, sans-serif;
  font-size: 200px;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.point{
  margin-top: 0px;
  margin-bottom: 80px;
  border:10px solid rgb(238, 212, 62);
  border-radius: 40px;
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
}

.action{
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.point_btn{
  font-family: Geneva, Tahoma, sans-serif; 
  font-size: 80px;
  font-weight: bold;
  background-color: rgb(238, 212, 62);
  color: aliceblue;
  text-shadow: 5px 5px rgb(2, 2, 77);
  border-radius: 40px;
  /* padding-top: -30px;
  padding-bottom: 50px; */
  height: 170px;
  width: 170px;
  margin: 0px 20px 0px 20px;
}

.point_btn:hover{
  cursor: pointer;
}